{% extends  '::base.html.twig' %}

{% block body %}
<h3>FAQ - Często zadawne pytania</h3>
<br />
   <ol> 
    {% for faq in faqs %}
            <li>{{ faq.tresc }}
            <blockquote>{{faq.odpowiedz}}</blockquote>
            </li>
    {% endfor %}
   </ol>
<h4>Możesz dodać nową pozycję w FAQ</h4>
<form action="{{  path('ZubiFaqBundle_homepage')  }}" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}