{% extends  '::base.html.twig' %}
{% block sidebartitle %}F A Q {% endblock %}
{% block sidebaritems %}
    <li class="active"><a href="{{ path('ZubiFaqBundle_homepage') }}">Faq</a></li>
    <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Strona główna serwisu</a></li>
{% endblock %}

{% block body %}

{% if app.session.hasFlash('notice') %}
    <div class="flash-notice" style="color:blue;">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('errorMsg') %}
    <div class="flash-notice" style="color:red;">
        {{ app.session.flash('errorMsg') }}
    </div>
{% endif %}

<h3>FAQ - Często zadawne pytania</h3>
<br />
   <ol> 
    {% set a = 0 %}
    {% for faq in faqs %}
            <li>{{ faq.tresc }}&nbsp;&nbsp;&nbsp;|&nbsp;
            <a href="{{delLinks[a]}}">usuń</a>&nbsp;|&nbsp;
            <a href="{{editLinks[a]}}">zmień</a>&nbsp;|&nbsp;
            <blockquote>{{faq.odpowiedz}}</blockquote>
            </li>
            {% set a = a + 1 %}
    {% endfor %}
   </ol>
<h4>Możesz dodać nową pozycję w FAQ</h4>
<form action="{{  path('ZubiFaqBundle_homepage')  }}" method="POST" {{ form_enctype(form) }}>
    {{ form_row(form.tresc) }}
    {{ form_row(form.odpowiedz) }}
    {{ form_row(form.StatusWidocznosci) }}
    <input type="submit" />
</form>
{% endblock %}