{% extends  '::base.html.twig' %}

{% block nav_active %}
              <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Home</a></li>
              <li class="active"><a href="{{ path('ZubiUserBundle_homepage') }}">Profil</a></li>
              <li><a href="{{ path('ZubiDeviceBundle_homepage') }}">Device</a></li>
              <li><a href="{{ path('ZubiFaqBundle_homepage') }}">FAQ</a></li>
              <li><a href="{{ path('ZubiArticleBundle_homepage') }}">Artykuły</a></li>
{% endblock %}

{% block sidebartitle %} Profil {% endblock %}

{% block sidebaritems %}
              <li><a href="{{ path('ZubiUserBundle_homepage') }}">Ty</a></li>  
              <li><a href="{{ path('ZubiUserBundle_private') }}">Ustawienia prywatności</a></li>
              <li class="active"><a href="{{ path('ZubiUserBundle_edituser') }}">Edytuj konto</a></li>
              <li><a href="{{ path('ZubiUserBundle_list') }}">Lista</a></li>              
{% endblock %}


{% block body %}

<form action="{{ path('ZubiUserBundle_edituser') }}" method="post" novalidate="novalidate"{{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <button type="submit">update</button>
</form>

{% endblock %}