{% extends  '::base.html.twig' %}

{% block nav_active %}
              <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Home</a></li>
              <li class="active"><a href="{{ path('ZubiUserBundle_homepage') }}">Profil</a></li>
              <li><a href="{{ path('ZubiDeviceBundle_homepage') }}">Device</a></li>
              <li><a href="{{ path('ZubiFaqBundle_homepage') }}">FAQ</a></li>
              <li><a href="{{ path('ZubiArticleBundle_homepage') }}">Artykuły</a></li>
{% endblock %}

{% block sidebartitle %} Profil {% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Ty</a></li>  
              <li><a href="{{ path('ZubiUserBundle_private') }}">Ustawienia prywatności</a></li>
              <li><a href="{{ path('ZubiUserBundle_edituser') }}">Edytuj konto</a></li>
              <li><a href="{{ path('ZubiUserBundle_list') }}">Lista</a></li>
              
{% endblock %}

{% block body %}


<table>
  <thead>
    <tr>
      <th><p><b>Dane użytkownika: </b></p></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><p>Użytkownik: </p></td>
      <td><p>{{ user.username }}</p></td>
    </tr>
    <tr>
      <td><p>Kraj: </p></td>
      <td><p>{{ user.kraj }}</p></td>
    </tr>
    <tr>
      <td><p>Miasto: </p></td>
      <td><p>{{ user.miasto }}</p></td>
    </tr>
    <tr>
      <td><p>Data urodzenia: </p></td>
      <td><p>{{ user.data_ur|date("d/m/y") }} </p></td>
    </tr>
  </tbody>
</table>
	
{% endblock %}