{% extends  '::base.html.twig' %}

{% block nav_active %}
              <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Home</a></li>
              <li class="active"><a href="{{ path('ZubiUserBundle_homepage') }}">Profil</a></li>
              <li><a href="{{ path('ZubiDeviceBundle_homepage') }}">Device</a></li>
              <li><a href="{{ path('ZubiFaqBundle_homepage') }}">FAQ</a></li>
              <li><a href="{{ path('ZubiArticleBundle_homepage') }}">Artykuły</a></li>
{% endblock %}

{% block sidebartitle %} Profil {% endblock %}

{% block sidebaritems %}
              <li><a href="{{ path('ZubiUserBundle_homepage') }}">Ty</a></li>  
              <li><a href="{{ path('ZubiUserBundle_private') }}">Ustawienia prywatności</a></li>
              <li><a href="{{ path('ZubiUserBundle_edituser') }}">Edytuj konto</a></li>
              <li class="active"><a href="#">Lista</a></li>
              
{% endblock %}

{% block body %}
	<table class="table">
		<thead>
			<tr>
    			<th>użytkownik</th>
    			<th>miasto</th>
    			<th>kraj</th>
          <th>data ur</th>
    		</tr>
    	</thead>
	{% for user in users %}
		<tbody>
			<tr>
    			<td>{{ user.username }}</td>
    			<td>{{ user.miasto }}</td>
    			<td>{{ user.kraj }}</td>
          <td>{{ user.data_ur|date("d/m/Y") }}</td>
    		</tr>
    	</tbody>
    {% endfor %}
    </table>
{% endblock %}