{% extends  '::base.html.twig' %}

{% block nav_active %}
              <li><a href="{{ path('ZubiIndexBundle_homepage') }}">Home</a></li>
              <li class="active"><a href="{{ path('ZubiUserBundle_homepage') }}">Profil</a></li>
              <li><a href="{{ path('ZubiDeviceBundle_homepage') }}">Device</a></li>
              <li><a href="{{ path('ZubiFaqBundle_homepage') }}">FAQ</a></li>
              <li><a href="{{ path('ZubiArticleBundle_homepage') }}">Artykuły</a></li>
{% endblock %}

{% block sidebartitle %}Login{% endblock %}

{% block sidebaritems %}
              <li class="active"><a href="#">Logowanie</a></li>
              <li><a href="{{ path('ZubiUserBundle_register') }}">Nowe Konto</a></li>
{% endblock %}


{% block body %}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<form action="{{ path('ZubiUserBundle_login_check') }}" method="post">	
    <label for="username">Email:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Pass:</label>
    <input type="password" id="password" name="_password" />

    <button type="submit">login</button>
</form>

{% endblock %}