{% extends  '::base.html.twig' %}

{% block sidebartitle %}Urządzenia użytkownika{% endblock %}

{% block sidebaritems %}
    <li class="active"><a href="{{ path('ZubiDeviceBundle_homepage') }}">Lista zarejestrowanych urządzeń</a></li>
    <li><a href="{{ path('ZubiDeviceBundle_addStation') }}">Zartejestruj nowe urządzenie</a></li>
{% endblock %}

{% block body %}
    <div class="row">
        <h3>Lista urządzeń użytkownika 
        <Font Color="#0066CC"> <u>{{ app.user.username }}</u> </Font> </h3>
    <br>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td><b>Kraj</b></td>
                    <td><b>Miasto</b></td>
                    <td><b>Ulica</b></td>
                    <td><b>Kod urządzenia</b></td>
                    <td><b>Długość geograficzna</b></td>
                    <td><b>Szerokość geograficzna</b></td>
                </tr>
            </thead>
            <tbody>
                {% if stations|length > 0 %}
                    {% for st in stations %}
                        <tr>
                            <td>{{ st.country }}</td>
                            <td>{{ st.city }}</td>
                            <td>{{ st.street }}</td>
                            <td>{{ st.hash }}</td>
                            <td>{{ st.longitude }}</td>
                            <td>{{ st.latitude }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Brak zarejestrowanych urządzeń!</td>
                    </tr>    
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <a class="btn btn-primary" href="{{ path('ZubiDeviceBundle_addStation') }}">Zarejestruj nowe urządzenie użytkownika</a>
    </div>
{% endblock %}